<p class="calculator--title">Calculadora de Preço</p>
<div class="calculator">
    
    <div class="calculator--body">
            <p class="calculator--body--subtitle">Materiais</p>
            <div class="calculator--body--Inputs">
                <div class="calculator--body--subtitleInputs">
                    <p class="calculator--body--subtitleInputs--Input" >Valor dos Novelos</p>
                    <p class="calculator--body--subtitleInputs--Input">Peso dos Novelos</p>
                    <p class="calculator--body--subtitleInputs--Input">Quantidade Gasta</p>
                </div>
            
                <div>
              
                </div>
            </div>


            <p class="calculator--body--subtitle">Tempo Investido</p>
            <div  class="calculator--body--Inputs">
                <div class="calculator--body--subtitleInputs">
                </div>
                
                <div>
                    
                </div>
            </div>
            
            <div class="btns">
                <button type="button" class="clean">Limpar</button>
                <button type="button" class="submit">Calcular</button>
            </div>
  
    </div>
</div>