<p class="calculator--title">Calculadora de Preço</p>
<div class="calculator">

    <div class="calculator--body">
        <p class="calculator--body--subtitle">Materiais</p>
        <div class="calculator--body--Inputs">

            <div class="inputs-fields">
                <p class="calculator--body--subtitleInputs--Input">Valor dos Novelos</p>
                <input type="text" placeholder="R$0.00" class="input">
                <input type="text" placeholder="R$0.00" class="input">
                <input type="text" placeholder="R$0.00" class="input">
            </div>

            <div class="inputs-fields">
                <p class="calculator--body--subtitleInputs--Input">Peso dos Novelos</p>
                <input type="text" placeholder="100g" class="input">
                <input type="text" placeholder="100g" class="input">
                <input type="text" placeholder="100g" class="input">
            </div>

            <div class="inputs-fields">
                <p class="calculator--body--subtitleInputs--Input">Quantidade Gastss</p>
                <input type="text" placeholder="R$0.00" class="input">
                <input type="text" placeholder="R$0.00" class="input">
                <input type="text" placeholder="R$0.00" class="input">
            </div>




        </div>

        <p class="calculator--body--subtitle">Tempo Investido</p>
        <div class="calculator--body--Inputs">
        
            <div class="inputs-fields">
                <p class="calculator--body--subtitleInputs--Input">Horas</p>
                <input type="text" placeholder="HH" class="input">
            </div>
            <div class="inputs-fields">
                <p class="calculator--body--subtitleInputs--Input">Minutos</p>
                <input type="text" placeholder="MM" class="input">
            </div>
        </div>

        <div class="btns">
            <button type="button" class="clean">Limpar</button>
            <button type="button" class="submit">Calcular</button>
        </div>


    </div>
</div>