@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap');

$font:'Work Sans', sans-serif;
$p1: 300;
$p2: 400;
$p3: 500;
$p4: 600;

$color-primary: #470C4D;
$color-secundary: #F8F3FE;