<section class="informations first">
    <p>Dar vida a uma peça de crochê é um verdadeiro trabalho de amor,
        e como todo trabalho, merece trazer um retorno bacana.
        Para calcular esse retorno, é hora de botar na ponta do lápis:
        o custo dos materiais, o tempinho que você investiu e aquela quantia
        que você quer ver no bolso pelo fruto do seu trabalho. Vai que é sucesso! 😉
    </p>
</section>

<section>
    <app-calculator-price></app-calculator-price>
    <app-suggested-price></app-suggested-price>
</section>


<section class="informations">
    <h2 class="informations--title">
        Como utilizar a calculadora
    </h2>
    <p>
        A nossa calculadora faz uma estimativa do valor que você pode considerar na
        hora de precificar a sua peça de crochê. Lembre-se de que esse resultado é
        apenas uma sugestão, já que outros detalhes podem influenciar no preço final,
        como a complexidade única da sua criação. Para aproveitar a calculadora de preços,
        é importante completar todos os custos envolvidos na produção da sua peça
    </p>
</section>